body {
    background: rgb(251,255,0);
    background: radial-gradient(circle, rgba(251,255,0,1) 0%, rgba(201,193,0,1) 35%, rgba(89,93,0,0.7259278711484594) 100%);
    font-family: 'Segoe UI', Arial;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 50px;
}

header {
    color: #ffffff;
    background-color: #800080;
    margin-bottom: 20px;
    border-radius: 50px;
}

.section-title {
    color: #800080;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 50px;
}
